img{
  border-radius: 50%;
}
input::file-selector-button {
  font-weight: bold;
  color: white;
  padding: 1em;
  border: thin solid grey;
  border-radius: 9px;
  margin-top: 1rem;
  background-color: #2563EB;
}
